<div><ol><% top50.forEach((song) => { %>
    <li><%-("#" + song.rank + " (" + song.streams + " Streams" + ") " + song.title + " " + song.artist + " " + song.publicationDate) %></li>


<% }); %>
</ol>
</div>